.App {
  max-width: 600px;
  margin: 30px auto;

  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  color: rgb(135, 135, 135);
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
}
